 <div *ngIf="playerHeroes == []">
   <p>You do not have any heroes coward. </p>
   <button [routerLink]="['/createhero']"> Create Hero</button>

 </div>


<div ngFor="let P of playerHeroes">
  <form #selectHeroForm="ngForm" (ngSubmit)="loadCurrentHero(selectHeroForm)">
  <label for="currentHero"> {{P.Name}} {{ P.Class }} </label>
  <input name="currentHero" id="currentHero" type="radio" ngModel value="{{ P.id }}"><br />

  <input type="submit" value="Select Hero" />
    </form>
</div>



<div ngIf="currentHero != null">
<div *ngFor="let t of [].constructor(QuestionCount); index as i"><app-trivia [checkDifficulty]="battleNumber" (checkInput)="dealDamage($event)" *ngIf="i == QuestionCount - 1"></app-trivia></div>

<div>
  <p>{{ villain.name }} :: {{ villain.race }}</p>
  <p>{{ villain.healthPoints }}</p>
  <img src="{{ villain.imageNavigation.imageName }} }}" />
</div>
  </div>
