
<div *ngIf="iAmAlive == true">
  <div *ngFor="let t of [].constructor(QuestionCount); index as i"><app-trivia [checkDifficulty]="battleNumber" (checkInput)="dealDamage($event)" *ngIf="i == QuestionCount - 1" class="card" style="background-color: #E0C097; padding: 0.2rem"></app-trivia></div>
  <div *ngIf="battleNumber < 4">
    <div class="bg">
      <div style="text-align:end;padding:initial">
        <p>{{ villain.name }} :: {{ villain.race }}</p>
        <p> Health Points: {{ villain.healthPoints }}</p>
      </div>

      <div style="text-align:start;padding:initial">
        <p>{{ currentHero.name }}</p>
        <p> Health Points: {{ currentHero.heroClassNavigation.healthPoints }} </p>
      </div>
      <div class="row">
      </div>
      <div class="row">
        <img src="{{ currentHero.heroClassNavigation.imageNavigation.imageName }}" class="col-3" />

        <p class="col-6"></p>
        <img src="{{ villain.imageNavigation.imageName }}" class="col-3" />
      </div>
      <div *ngIf="currentHero.heroClass == 5 && usedAbility == false">

        <button (click)="wizardAbility()">Skip Question </button>

      </div>
    </div>
 
  </div>
  



</div>

<div *ngIf="iAmAlive == false">
  <div *ngIf="beatGame == true">
    <p>You have defeated the evil villain and gained the knowledge you seek. Congratulations!!</p>
  </div>
  <div *ngIf="beatGame == false">
    <p>Game Over! Your quest for knowledge has ended. </p>
  </div>  
</div>
