<div class="textcolor">
  <form #registerNewUser="ngForm" (ngSubmit)="RegisterNewPlayer(registerNewUser)">
    <h3>Create A Player Profile</h3>
    <label for="username">Enter a UserName</label><br />
    <input name="username" type="text" id="username" ngModel placeholder="PewPewDie" required /><br />

    <label for="avatarImage">Choose an Avatar</label><br />

    <div *ngFor="let i of imageList">
        <div class="card" style="background-color: #E0C097; width:50%">
          <label for="avatarImage"><img src="{{ i.imageName }}" class="col-6"style=""/></label>
          <input name="avatarImage" id="avatarImage" type="radio" ngModel value="{{ i.id }}" required /><br />
      </div>
      <br />
  </div>
    <div class="card" style="background-color: #E0C097; color: black !important">
      <label for="avatarColor">Please Choose a Color From the Following Options: red, blue, green, purple, yellow, orange, black</label><br />
      <input name="avatarColor" id="avatarColor" type="text" ngModel required />
    </div>
    <br />
    <div class="card" style="background-color: #E0C097; color: black !important">
      <label for="title">You shall be called "Newbie", defeat the evil bosses to unlock more titles!</label><br />
      <input name="title" id="title" type="text" ngModel="Newbie" disabled value="Newbie" />
    </div>
    <br />
    <div class="card" style="background-color: #E0C097; color:black !important">
      <label>Click Register Player Profile to Start The Adventure</label>
      <input type="submit" value="Register Player" />
    </div>
    <br />
  </form>
</div>
