<!--<div *ngFor="let P of playerList">
  <p> {{ P.userName }}</p>
  <p>{{ P.gamesWon }}</p>
  <p>{{ P.Title }}</p>
  <img src="{{ P.ImageName }}">
</div>-->

<div *ngFor="let P of playerList">
  <br />
  <div>
    <div class="card" style="outline: auto; background-color: white; text-align:center">
      <img src="{{ P.avatarImageNavigation.imageName }}" class="card" style="outline: auto; background-color: #E0C097">
      <h1>{{ P.userName }}: {{ P.titleNavigation.title1 }}</h1>
      <p>Games Won: {{ P.gamesWon }}</p>
    </div>
  <br />
</div>
  <br />
  <br />
