<div class="row mb-5" *ngFor="let H of heroList" >
  <div class="col-4"></div>
  <div class="card col-4" style="outline: auto; background-color: #E0C097;">
    <img src="{{ H.imageNavigation.imageName }}" class="card" style="outline: auto; background-color: #E0C097; object-fit:scale-down;" />
    <div class="card" style="outline: auto; text-align:center">
      
      <h3>{{ H.class }}</h3>
      <h3>HP:{{ H.healthPoints }}</h3>
      <h3>Ability: {{ H.ability }}</h3>
    </div>
    <p class="card" style="outline: auto">
      Bio: {{ H.bio }}
    </p>
  </div>
</div>
